
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$myapp-primary: mat-palette($mat-indigo);
$myapp-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$myapp-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$myapp-theme: mat-light-theme($myapp-primary, $myapp-accent, $myapp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($myapp-theme);

@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');
@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$waller-primary: mat-palette($mat-blue-grey, 900, 800, 200);
$waller-accent:  mat-palette($mat-teal, 400, 100, 600);

// The warn palette is optional (defaults to red).
$waller-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$waller-theme: mat-light-theme($waller-primary, $waller-accent, $waller-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($waller-theme);



body {
    margin: 0;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-size: 18px;
   
}

.container {
    width: 80%;
    margin: 0 auto;
}

.mat-toolbar-row {
  
   

    a {
        color: white;
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                  // background:;
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}

h2 {
    margin-top: 2em;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h5 {
  
    text-align: right;
    text-transform: uppercase;
    margin-top: -20px;
}


.spacer {
  flex: 1 1 auto;
}

.mat-raised-button.mat-primary
 {
  margin-right:12px;
}

.mat-card {
    margin-bottom: 20px;
}


.example-container {
    padding: 16px;
    margin-bottom: 16px;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.logo {
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #1e1e1e;
transition: 500ms;
font-family: 'Playfair Display', serif!important;
}
.logo:hover {
    letter-spacing: 3px;
    text-shadow: 8px 8px 4px #1e1e1e;
}